* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAV BAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;
}

.nav-bar {
  width: 90%;
  margin: 0.5rem auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

/* LOGO */
#logo {
  width: 15vw;
}

.logo-a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-letter {
  color: white;
  margin-right: 0.5rem;
  background-color: #37134a;
  width: 50px;
  border-radius: 6px;
  text-align: center;
  font-family: Lobster, Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
}

.logo-word {
  color: #37134a;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 1.6rem;
}

/* SEARCH FORM */
.nav-search {
  max-width: 33vw;
  flex: 1;
  margin-right: 5rem;
  opacity: 0;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form:hover .submit-btn {
  background-color: #2f113f;
}

.search-form input,
.search-form button {
  background-color: #f4f4f4;
  border: none;
}

.search-form input {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  color: #37134a;
  width: 85%;
  border-right: none;
  padding: 1.1rem 1.5rem;
  font-size: 1.4rem;
}

.search-form button {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  padding-right: 1rem;
  border-left: none;
  cursor: pointer;
}

.submit-btn {
  font-family: "DM sans";
  font-size: 1.1rem;
  color: white;
  background-color: #bdbdbd;
  padding: 0.7rem 1.6rem;
  border-radius: 32px;
}

.submit-btn:hover,
.btn-active {
  background-color: #2f113f;
}

.search-form input:focus {
  outline: none;
}

.search-form input::placeholder {
  color: #9b9b9b;
  font-size: 1.1rem;
}

/* HERO SECTION */
.hero-section {
  margin: 10rem auto 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section-text {
  margin-left: 6rem;
  width: 40%;
}

.hero-section-text h2 {
  color: #261131;
  font-size: 3rem;
  font-weight: 700;
}

.hero-section-text p {
  color: #4f4f4f;
  font-size: 1.4rem;
  padding: 1.8rem 0;
}

.hero-search-form {
  width: 70%;
}

/* GALLERY */
#explore {
  margin-top: 7rem;
  min-height: 100vh;
}

.gallery-info {
  display: flex;
  font-family: "DM Sans", sans-serif;
  justify-content: space-between;
  align-items: center;
  color: #2f113f;
  padding: 0.5rem 0rem;
}

.gallery-info a {
  color: #2f113f;
  text-decoration: none;
}

.gallery-info a:hover {
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #2f113f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  padding-top: 2rem;
  width: 80%;
  margin: auto;
  column-gap: 3rem;
}

.gallery-img {
  height: 90%;
  overflow: hidden;
}

.gallery-cover {
  height: 100%;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MORE BUTTON */
.more-button {
  min-height: 20vh;
  display: grid;
  place-items: center;
}

.more {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.more:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 6px;
  width: 50px;
  height: 45px;
  border: 1px solid #2f113f;
  transition: all 0.3s ease;
}

.more-span {
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #2f113f;
}

.more svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #2f113f;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.more:hover:before {
  width: 100%;
  background: #2f113f;
}

.more:hover .more-span {
  color: white;
}

.more:hover svg {
  transform: translateX(0);
  stroke: white;
}

.more:active {
  transform: scale(0.95);
}

/* MEDIA QUERRIES */

@media screen and (max-width: 1510px) {
  html {
    font-size: 77%;
  }

  .hero-section-image {
    width: 48%;
    margin-left: auto;
  }

  .hero-section-image img {
    width: 100%;
  }

  .more:before {
    width: 45px;
    height: 40px;
  }
}

@media screen and (max-width: 850px) {
  .hero-section {
    min-height: 30vh;
  }

  .hero-section-text {
    width: 50%;
    margin-right: 3rem;
  }

  .hero-section-text h2 {
    font-size: 2.4rem;
  }

  .hero-section-text p {
    font-size: 1.1rem;
  }

  .hero-search-form {
    width: 90%;
  }

  .nav-search {
    max-width: 38vw;
    margin-right: 3rem;
  }

  .gallery {
    width: 85%;
  }
}

@media screen and (max-width: 560px) {
  .hero-section-image {
    display: none;
  }

  .hero-section-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-search-form {
    margin: auto;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    column-gap: 2rem;
  }

  .nav-search {
    max-width: 80%;
    margin-right: 1rem;
  }

  .search-form input {
    /* width: 100%; */
    padding: 0.7rem 1.4rem;
  }

  .submit-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .logo-letter {
    width: 35px;
    font-size: 2rem;
  }

  .logo-word {
    display: none;
  }
}
